
%section#homepage
  %article#space.parallax-img-container
    .container.parallax-img-container
      = image_tag "space/circles-1.png", :class => "parallax-move", "data-ps-vertical-position" => "200", "data-ps-horizontal-position" => "100" , "data-ps-z-index" =>"1"
      = image_tag "space/circles-2.png", :class => "parallax-move", "data-ps-vertical-position" => "300", "data-ps-horizontal-position" => "200" , "data-ps-z-index" =>"1"
      = image_tag "space/asteroid.png", :class => "parallax-move", "data-ps-horizontal-position" => "200", "data-ps-vertical-position" => "150"
      = image_tag "space/droid.png", :class => "parallax-move", "data-ps-vertical-position" => "400", "data-ps-horizontal-position" => "650"
      = image_tag "space/saturn.png", :class => "parallax-move", "data-ps-vertical-position" => "200", "data-ps-horizontal-position" => "700"
      = image_tag "space/spaceship.png", :class => "parallax-move", "data-ps-vertical-position" => "500", "data-ps-horizontal-position" => "450"
      = image_tag "space/stars.png", :class => "parallax-move", "data-ps-vertical-position" => "200", "data-ps-horizontal-position" => "200"
      = image_tag "space/weirdplanet.png", :class => "parallax-move", "data-ps-vertical-position" => "300", "data-ps-horizontal-position" => "0"
    = image_tag "space/clouds-1.png", :class => "parallax-move", "data-ps-z-index" =>"100", "data-ps-speed" => "0.01", "data-ps-vertical-position" => "-100", "data-ps-horizontal-position" => "0" 
  %article#sky.parallax-img-container
    .container.parallax-img-container
      .instructions
        .instructions-slide
          .prev.disabled
            .fa.fa-arrow-circle-left
          .next
            .fa.fa-arrow-circle-right
          .item 
            This is a set of instructions This is a set of instructions This is a set of instructions This is a set of instructions This is a set of instructions
          .item 
            This is a set of instructions This is a set of instructions This is a set of instructions This is a set of instructions This is a set of instructions
          .item 
            This is a set of instructions This is a set of instructions This is a set of instructions This is a set of instructions This is a set of instructions
      
      = image_tag "sky/clouds-1a.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"200", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "450"
      = image_tag "sky/hangingsun.png", :class => "parallax-move", "data-ps-speed" => "0.3", "data-ps-z-index" =>"2", "data-ps-horizontal-position" => "20" , "data-ps-vertical-position" => "230"
      = image_tag "sky/clouds-1b.png", :class => "parallax-move", "data-ps-speed" => "0.3", "data-ps-z-index" =>"5", "data-ps-horizontal-position" => "400" , "data-ps-vertical-position" => "250"
      = image_tag "sky/clouds-1c.png", :class => "parallax-move", "data-ps-speed" => "0.5", "data-ps-z-index" =>"3", "data-ps-horizontal-position" => "730" , "data-ps-vertical-position" => "150"
      = image_tag "sky/clouds-2.png", :class => "parallax-move", "data-ps-speed" => "1", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "200" , "data-ps-vertical-position" => "0"
      = image_tag "sky/clouds-3.png", :class => "parallax-move", "data-ps-speed" => "0.8", "data-ps-z-index" =>"200", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "50"
      
    // the big clouds goes here to match with the big one in the space section
    = image_tag "space/clouds-1.png", :class => "parallax-move", "data-ps-z-index" =>"300", "data-ps-speed" => "0.01", "data-ps-vertical-position" => "700", "data-ps-horizontal-position" => "0"
    //the buildings go outside the first container
    = image_tag "city/buildings-1.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-120"
    = image_tag "city/buildings-2.png", :class => "parallax-move", "data-ps-speed" => "0.3", "data-ps-z-index" =>"2", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-200"
    = image_tag "city/buildings-3.png", :class => "parallax-move", "data-ps-speed" => "0.5", "data-ps-z-index" =>"3", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-800"
    
  %article#city.parallax-img-container
    .container.parallax-img-container
      .how-to-start
        %h2 JOIN TO PLAY
        %p
          Enter your username to join the waiting list to play Trivialine.
          %br
          As soon as someone else joins the room you will be able to start the game.

      .parallax-move{"data-ps-speed" => "0.3", "data-ps-z-index" =>"2", "data-ps-horizontal-position" => "350" , "data-ps-vertical-position" => "-300"}
        .signup-form
          %h4 Username
          %input{:type => "text", name: 'player_name', id: 'player_name'}
          %button.btn-action{id: 'join_game', "data-linkto" => "ocean"}
            Join
    = image_tag "ocean/wave-1.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-250"
    
    = image_tag "ocean/wave-2.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"300", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-350"
    = image_tag "ocean/wave-3.png", :class => "parallax-move", "data-ps-speed" => "0.7", "data-ps-z-index" =>"400", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-650"
    
  %article#ocean.parallax-img-container
    .container.parallax-img-container
      .online-players
        %h2 Who is online
        %ul#players
          - @players.each do |player|
            %li= player['name']
        %button.btn-action.hidden{id: 'start_game'}
          Start game
      = image_tag "ocean/bubbles-1.png", :class => "parallax-move", "data-ps-speed" => "0.3", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "0"
      = image_tag "ocean/bubbles-2.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"10", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-50"
      = image_tag "ocean/bubbles-3.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "100"
      = image_tag "ocean/dead-fish.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "300" , "data-ps-vertical-position" => "0"
      = image_tag "ocean/fish-1.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "700" , "data-ps-vertical-position" => "60"
      = image_tag "ocean/octopus.png", :class => "parallax-move", "data-ps-speed" => "0.8", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "300" , "data-ps-vertical-position" => "0"
      = image_tag "ocean/submarine.png", :class => "parallax-move", "data-ps-speed" => "2.3", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "0"
    = image_tag "ocean/seaweed-1.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-100"
    = image_tag "ocean/seaweed-2.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"100", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-100"
    #chat.hidden
      .chatzone-home
        %h3 
          Chat with other players
        #chat-controls
          %input{name: 'chat', id: 'chat_input'}
          %button.btn-action{id: 'chat_send'}
            Say
        #chat-content
%section#gamepage
  %article
    .container#game.hidden
      #question
      %ul#answers

