.testArea.container
  %h1 
    TEST AREA
    %a.btn-action#hideTestArea
      %i.fa.fa-close
      hide
  #player-name
    Your name:
    %input{name: 'player_name', id: 'player_name'}
    %button{id: 'join_game'}
      Join


  %br

  Players waiting:
  %ul#players
    - @players.each do |name|
      %li= name

  #chat.hidden
    #chat-controls
      %input{name: 'chat', id: 'chat_input'}
      %button{id: 'chat_send'}
        Say
    #chat-content


  %button.hidden{id: 'start_game'}
    Start game


  #game.hidden
    #question
    %ul#answers

%section#homepage
  %article#space.parallax-img-container
    .container
      %h1 test title not moving
      text here that wont move
    = image_tag "space/circles-1.png", :class => "parallax-move"
    = image_tag "space/circles-2.png", :class => "parallax-move"
    = image_tag "space/asteroid.png", :class => "parallax-move"
    = image_tag "space/droid.png", :class => "parallax-move"
    = image_tag "space/saturn.png", :class => "parallax-move"
    = image_tag "space/spaceship.png", :class => "parallax-move"
    = image_tag "space/stars.png", :class => "parallax-move"
    = image_tag "space/weirdplanet.png", :class => "parallax-move"
    = image_tag "space/clouds-1.png", :class => "parallax-move", "data-ps-z-index" =>"100", "data-ps-speed" => "0.01", "data-ps-vertical-position" => "-100", "data-ps-horizontal-position" => "0" 
  %article#sky.parallax-img-container
    .container
      %h1 test title not moving
      text here that wont move
    = image_tag "sky/clouds-1.png", :class => "parallax-move"
    = image_tag "sky/clouds-2.png", :class => "parallax-move"
    = image_tag "sky/clouds-3.png", :class => "parallax-move"
    = image_tag "sky/hangingcloud.png", :class => "parallax-move"
    = image_tag "sky/hangingsun.png", :class => "parallax-move"
    = image_tag "city/buildings-1.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-250"
    = image_tag "city/buildings-2.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"2", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-300"
    = image_tag "city/buildings-3.png", :class => "parallax-move", "data-ps-speed" => "0.5", "data-ps-z-index" =>"3", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-800"
  %article#city.parallax-img-container
    .container
      %h1 test title not moving
      text here that wont move
    = image_tag "ocean/wave-1.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-200"
    = image_tag "city/boat.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"2", "data-ps-horizontal-position" => "600" , "data-ps-vertical-position" => "-130"
    = image_tag "ocean/wave-2.png", :class => "parallax-move", "data-ps-speed" => "0.4", "data-ps-z-index" =>"3", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-300"
    = image_tag "ocean/wave-3.png", :class => "parallax-move", "data-ps-speed" => "0.8", "data-ps-z-index" =>"4", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-650"
    
  %article#ocean.parallax-img-container
    .container
      %h1 test title not moving
      text here that wont move
    = image_tag "ocean/bubbles-1.png", :class => "parallax-move"
    = image_tag "ocean/bubbles-2.png", :class => "parallax-move"
    = image_tag "ocean/bubbles-3.png", :class => "parallax-move"
    = image_tag "ocean/dead-fish.png", :class => "parallax-move"
    = image_tag "ocean/fish-1.png", :class => "parallax-move"
    = image_tag "ocean/octopus.png", :class => "parallax-move"
    = image_tag "ocean/submarine.png", :class => "parallax-move"
    = image_tag "ocean/seaweed-1.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"1", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-100"
    = image_tag "ocean/seaweed-2.png", :class => "parallax-move", "data-ps-speed" => "0.2", "data-ps-z-index" =>"10", "data-ps-horizontal-position" => "0" , "data-ps-vertical-position" => "-100"
    



