<!DOCTYPE html>
<html>
<head>
  <title>Trivialine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <header>
    <div class="container">
      <%= image_tag 'logo.png' %>
      <ul class="horizontal">
        <li>
          <a id="howto" class="btn-default smoothScroll" data-linkto="sky">How to</a>
        </li>
        <li>
          <a id="play" class="btn-action smoothScroll" data-linkto="city" data-margin-top="200">Play</a>
        </li>
      </ul>
    </div>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
    Designed and developed by CKTZ team for SUSE <a href="https://hackweek.suse.com/11/projects/242" target="_blank">Hackweek Interstellar</a>
    <div class="icons-devs-networks">

      <a href="https://www.linkedin.com/in/csanchezfrontend" target="_blank">
        <%= image_tag 'cynt.jpg', :class => "img-circle" %>
      </a>
      <%= image_tag 'ken.jpg', :class => "img-circle" %>
      <a href="https://www.linkedin.com/profile/view?id=157500016" target="_blank">
        <%= image_tag 'tom.jpg', :class => "img-circle" %>
      </a>
      <a href="https://www.linkedin.com/pub/zvezdana-marjanovic/51/5b2/537" target="_blank">
        <%= image_tag 'zvez.jpg', :class => "img-circle" %>
      </a>
      <a href="https://github.com/digitaltom/trivialine" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </footer>
</body>
</html>
